<!-- The above form looks like this -->
<form action="/login" method="post">

    <div class="row">
        <div class="six columns offset-by-three">
            <h1>Login</h1>
        </div>
    </div>

{{#if messages.login_failed}}

    <div class="row">
        <div class="four columns offset-by-three message">
            Login failed!
        </div>
    </div>
{{/if}}

  <div class="row">
    <div class="three columns offset-by-three">
      <label for="exampleEmailInput">Username</label>
      <input class="u-full-width" type="text" placeholder="enter username" name="username">
    </div>
  </div>
  <div class="row">
    <div class="three columns offset-by-three">
      <label for="exampleEmailInput">Your password</label>
      <input class="u-full-width" type="password" placeholder="enter password" name="password">
    </div>
  </div>
  <div class="row">
    <div class="four columns offset-by-three">
        Got no password? Register <a href="/register">here</a>.
    </div>
  </div>
  <div class="row">
    <div class="six columns offset-by-three">
        <input class="button-primary" type="submit" value="Login">
    </div>
  </div>
</form>
